{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    <div class="col-md-offset-5 col-md-4">
        Main Page
        <br/>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda doloremque esse, eum explicabo fugiat ipsa laboriosam, laborum laudantium nisi possimus quae rem repellendus
            reprehenderit suscipit temporibus totam voluptatem voluptates.
        </p>
        <p>Est, inventore ipsa laboriosam sed sint tempore temporibus ut vero? Architecto atque autem corporis dignissimos, dolores ea esse fugit, molestias pariatur porro, quas quibusdam sequi
            voluptates. Dolores omnis reiciendis voluptas?
        </p>
        <p>Aliquam aperiam asperiores aut consequatur deleniti distinctio esse facere illo laborum, libero, magni maiores nemo neque nihil nulla odit provident reprehenderit rerum sed sint suscipit
            temporibus unde ut vel voluptatibus.
        </p>
        <p>Aliquam aspernatur culpa dolorem eius et hic itaque libero maxime modi molestiae natus nemo nulla officia perspiciatis, praesentium quam quas quidem rem, sapiente sint soluta sunt vero
            voluptate. Eligendi, recusandae.
        </p>
    </div>
{% endblock %}

