{% extends 'base.html' %}

{% block title %}
    Wish tag
{% endblock %}

{% block content_title %}
    Do you want choose tag for post {{ post.title }}
{% endblock %}

{% block content %}
    {% if current_user.has_role('admin') %}
            <a href="{{ url_for('posts.choose_tag', slug=post.slug) }}"><button class="btn btn-success">Yes</button></a>
    {% endif %}
    {% if current_user.has_role('admin') %}
            <a href="{{ url_for('posts.blueprint') }}"><button class="btn btn-success">Not</button></a>
    {% endif %}

{% endblock %}